<div class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="display-4">Education</h3>
            </div>
        </div><br>
        <div class="card">
            <img src="assets/images/kmea.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">B-Tech</h5>
              <p class="card-text">
                Currently pursuing B-Tech in Civil Engineering from KMEA College under KTU. Succesfully landed S2 with
                no backlogs.

              </p>
            </div>
          </div>
          <br>
        <div class="card">
            <img src="assets/images/mcm.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">Higher Secondary</h5>
              <p class="card-text">
                I Completed my Higher Secondary Education from Mar Coorlose Memorial Higher Secondary School during the period
                2018-2020. I received many awards of excellence for my studiesa nd withheld
                Proficiency for 2 Years. Also participated and won many Competition in State & Revenue District Level.
              </p>
            </div>
          </div>
          <br>
        <div class="card">
            <img src="assets/images/mcm.jpg" class="card-img-top" />
            <div class="card-body">
              <h5 class="card-title">High School</h5>
              <p class="card-text">
                I Completed my HighSchool from Mar Coorlose Memorial Higher Secondary School during the period
                2008-2018. I received many awards of excellence for my studies since the 6th Standard and withheld
                Proficiency for 4 Years. Also participated and won many Competition in State & Revenue District Level.
              </p>
            </div>
          </div>
    </div>
</div>