<div class="bg-light">
    <div class="container py-5 ">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="display-4">Contact for Work</h3>
            </div>
        </div>
    <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6 ">
            <p style="color: black; font-size: 18px;">
                <fa-icon [icon]="faLocationArrow" size="lg" [styles]="{'color': 'grey'}"></fa-icon>
                Thandakkala House<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Chengara<br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pattimattom PO <br><br>

                <fa-icon [icon]="faPhone" size="lg" [styles]="{'color': 'grey'}"></fa-icon>
                +917994803845 <br><br>
                <fa-icon [icon]="faEnvelope" size="lg" [styles]="{'color': 'grey'}"></fa-icon>
                mubarishareef1234@gmail.com

            </p>
        </div>
        <div class="col-lg-6">
            <form method="get" action="">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" class="form-control" type="text" name="" placeholder="Enter your Name">
                </div>
                <div class="form-group">
                    <label for="emailid">Email ID</label>
                    <input id="emailid" class="form-control" type="email" name="" placeholder="Enter your Email ID">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea id="message" class="form-control" rows="2" placeholder="Type Your Message"></textarea>
                </div>
                <button class="btn btn-primary">Submit</button>
            </form>
            <p class="lead text-muted mb-0">
            </p>
        </div>
    </div>
</div>
</div>