<div class="bg-light py-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h3 class="display-4">My Projects</h3>
            </div>
        </div><br>
        <div class="row mt-4">
            <div class="col-md-4 on-hover">
                <div class="card border-0 mb-4">
                    <a href="#"><img class="card-img-top" src="assets/images/placeholder.png"></a>
                    <h5 class="font-weight-medium mt-3">My Portfolio</h5>
                </div>
            </div>
            <div class="col-md-4 on-hover">
                <div class="card border-0 mb-4">
                    <a href="#"><img class="card-img-top" src="assets/images/placeholder.png"></a>
                    <h5 class="font-weight-medium mt-3">To-Do List App</h5>
                </div>
            </div>
            <div class="col-md-4 on-hover">
                <div class="card border-0 mb-4">
                    <a href="#"><img class="card-img-top" src="assets/images/placeholder.png"></a>
                    <h5 class="font-weight-medium mt-3">Face Detection System</h5>
                </div>
            </div>
        </div>
    </div>

</div>        