<div class="bg-light py-5">
    <div class="container">
        <div class="row align-items-center py-5">
            <div class="col-lg-6 h-100">
                <h3 class="display-4">Achievements</h3>
                <div class="py-5">
                    <ul>
                        <li>Active Member of IEEE</li>
                        <li>Won the 2L on hackathon conducted by MEC</li>
                        <li>Active Member of Hack Club</li>
                        <li>Active Member of XAMK</li>
                        <li>Active Member of IEC</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 h-100">
                <h3 class="display-4 ">Interests</h3>
                <div class="py-5">
                    <ul>
                        <li>Witing</li>
                        <li>Learning new Languages</li>
                        <li>Photography</li>
                        <li>Revit</li>
                        <li>Programming</li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
</div>